# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Upload Python Package

on:
  workflow_dispatch:

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.3.4
    - name: Set up Python
      uses: actions/setup-python@v2.2.2
      with:
        python-version: '3.7'
    - name: Install dependencies
      run: |
        pip install pipenv==11.7.4 wheel
        pipenv install --python 3.7 --ignore-pipfile
        pipenv install --python 3.7 --dev --ignore-pipfile
    - name: Build and publish
      env:
        TWINE_USERNAME: qmk
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        python setup.py sdist bdist_wheel
        twine upload dist/*
